<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">

      <div class="header">
        <h1 :style="{backgroundColor:colorval,color: textcolor}">-:Daily Logs:-</h1>
        <label>Choose color: </label>
        <select name="colors" id="colors" v-on:change="updateColor($event)">
            <option value="white">Default</option>  
            <option value="red">RED</option>
            <option value="blue">BLUE</option>
            <option value="green">GREEN</option>
            <option value="yellow">YELLOW</option>
        </select>
      </div>
      <div class="content">
        <table :style="{backgroundColor: colorval , color: textcolor}">
          <tr>
              <th>Date</th>
              <th>Day</td>
              <th>Section</td>
              <th>Git Repo</th>
              <th>Progress</th>
              <th v-bind:colspan="col2">Topics Covered</th>
          </tr>
          <tr v-for="log in logs">
            <td>{{log.date}}</td>
            <td>{{log.day}}</td>
            <td>{{log.section}}</td>
            <td>{{log.gitRepo}}</td>
            <td><progress id="file" v-bind:value="log.pregress" max="100"> {{log.pregress}}%</progress>{{log.pregress}} %</td>
            <td v-for="item in log.topics" >{{item}}</td>
        </tr>
        </table>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
