<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">

      <div class="header">
        <h1 :style="{backgroundColor:colorVal,color: textColor}">-:Daily Logs:-</h1>
        <label>Choose color: </label>
        <select name="colors" id="colors" @change="updateColor($event)">
            <option v-for="(color,index) in colors" :value="color" :key="index" >{{color.toUpperCase()}}</option>  
            
        </select>
      </div>
      <div class="content">
        <table :style="{backgroundColor: colorVal , color: textColor}">
          <tr>
              <th>Date</th>
              <th>Day</td>
              <th>Section</td>
              <th>Git Repo</th>
              <th>Progress</th>
              <th :colspan="colspanValue">Topics Covered</th>
          </tr>
          <tr v-for="(log,index) in allLogs" :key="index">
            <td>{{log.date}}</td>
            <td>{{log.day}}</td>
            <td>{{log.section}}</td>
            <td><a :href="log.gitRepo">{{log.gitRepo}}</a></td>
            <td><progress id="file" :value="log.pregress" max="100"> {{log.pregress}}%</progress>{{log.pregress}} %</td>
            <td v-for="item in log.topics" >{{item}}</td>
        </tr>
        </table>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
